*{
  box-sizing: border-box;
}

body {
  overflow:hidden;
  margin: 0;
  height: 90vh;
  background-image: radial-gradient( 125% 250% at right, #f0ecec 55%, #6BEFA3 50.1%); 
}

/* estilização barra lateral */
.sidenav {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#6BEFA3;
  overflow-x: hidden;
  line-height: 100px;
  overflow: hidden;    
  }

    /* estilização do seletor de jogos*/
  .botaoSeletor {
    width: 150px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    margin-top: 70px ;
    margin-left: 75px;
    background-color: ##FFFFFF;
    border: 1px solid #6BEFA3 ;
    color: #333333;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  /* logotipo */
.img {
  margin-top: 150px;
  margin-left:75px ;
}

  /* estilização dos "p" p1, p2, p3 */
.p1 {
  margin-top: -115px;
  margin-left: -450px ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
}

.p2 {
  margin-top: 130px;
  margin-left: -515px ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 9px;
  color: #FFFFFF;  
}

.p3 {
  margin-top: -80px;
  margin-left: -515px ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: #FFFFFF;  
  font-weight: bold;
}

/*container dos botões numéricos */
.buttonsContainer {
  margin-top: 100px;
  margin-left: 500px;
  margin-bottom: 200px;
  margin-right: 250px;
}

/* estilização dos botões numéricos*/
button {
  border-radius: 150%;
  display: inline-block;
  height: 70px;
  width: 70px;
  border: 1px solid #f0ecec;
  background-color: white;
  font-weight: bold;
  color: #000000;
  margin-top: 200px;
}

/* estilização do texto abaixo dos botões numéricos */
p {
  padding-left: 600px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px){

}
  
  